<!DOCTYPE html>
<html ng-app="main">
<head>
	<title>Motorcycle</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="style.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="main.js"></script>
	<script src="controllers/mainController.js"></script>
</head>
<body ng-controller="mainCnt">
	<nav class="navbar navbar-default">
		<div class="container">
			<a href="" class="navbar-brend">Motorcycle's</a>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row center">
			<div class="col-lg-8 set">
				<div class="row">
					<div class="col-lg-6" ng-repeat="motor in motors">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>{{motor.ime}}</h4>
								<h6>{{motor.tip}}</h6>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6">
										<img ng-src="{{motor.slika}}" class="img-responsive img-thumbnail">
									</div>
									<div class="col-lg-6">
										<p>{{motor.opis.substring(0,200)}}...</p>
									</div>
								</div>
							</div>
							<div class="panel-footer text-right">
								<button class="btn btn-primary" ng-click="display(motor)" data-toggle="modal" data-target="#myModal">Read more</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title naslov">{{activeMotor.ime}}</h4>
        
      </div>
      <div class="modal-body">
      	<div class="row">
        	<div class="col-lg-4">
        		<img ng-src="{{activeMotor.pic1}}" class="img-responsive">
        	</div>
        	<div class="col-lg-4">
        		<img ng-src="{{activeMotor.pic2}}" class="img-responsive">
        	</div>
        	<div class="col-lg-4">
        		<img ng-src="{{activeMotor.pic3}}" class="img-responsive">
        	</div>
        </div>
        <p>{{activeMotor.opis}}</p>
      </div>
      <div class="modal-footer">
      	{{activeMotor.tip}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
			</div>
		</div>
	</div>
</body>
</html>
